body{
  font-family: Arial;
  box-sizing: border-box;
}
.border{
  width:100%;
  min-height: 100vh;
  border:2px solid;
  background: linear-gradient(45deg, purple, black);
}
.container{
  width:800px;
  height: 180px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.clock{
  width:100%;
  height: 100%;
  background: rgba(235,0,255,0.11);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
}
.container::before{
  content: '';
  width: 180px;
  height: 180px;
  background: red;
  border-radius: 5px;
  position:absolute;
  top:-50px;
  left:-50px;
  z-index: -1;
}
.container::after{
  content: '';
  width: 180px;
  height: 180px;
  background:rgb(7, 7, 207);
  border-radius: 50%;
  position:absolute;
  right:-50px;
  bottom:-50px;
  z-index: -1;
}
.clock span{
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after{
  font-size: 16px;
  position : absolute ;
  bottom:-10px;
  left:50%;
  transform: translateX(-50%);
}
#hrs::after{
  content: 'HOURS';
}

#min::after{
  content: 'MINUTES';
}
#sec::after{
  content: 'SECONDS';
}

@media(max-width:960px){
  .container{
    width:500px;
  } 
}
@media(max-width:670px){
  .container{
    width:300px;
  }
  .clock span{
    font-size:40px;
    padding:14px;
    font-weight: bolder;
  }
  #hrs::after{
    content: 'HR';
  }
  
#min::after{
  content: 'MIN';
}
#sec::after{
  content: 'SEC';
}
}

.click-border{
  background-color: rgb(192, 185, 185);
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-container{
  border: 2px solid;
  display: flex;
  width: 220px;
  height: 150px;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  color:black;
  text-decoration: none;
  
}
.click-container:hover{
  color:rgb(204, 0, 0);
  border:3px solid ;
  border-radius: 18px;
  transition-duration: 0.5s;
}
.click-container:active{
  margin-left:4px;
  margin-top:4px;
  transition-duration: 0.1;
  box-shadow: none;
}
.click-image{
  width: 100px;
}
.click-label{
  font-size: 40px;
  font-weight: bolder;
  font-family: cursive;
  
}